@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
  background: #FFFE4C;
}

/* nav related */
.off {
  display: none;
}

/* page title */
h1 {
  font-family: 'Gochi Hand', cursive;
  font-size: 5rem;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

/* login modal */
#login-form {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 400px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 20px 40px;
  border-radius: 5px;
}

#login-form h1 {
  text-align: center;
  margin-bottom: 30px;
}

#login-form a {
  text-decoration: none;
  color: lightblue;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.button:focus {
  outline: 0;
}

.button:active {
  transform: scale(0.98);
}

.label {
  color: aliceblue;
}

.text {
  color: azure;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

.form-input {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-input input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-input input:focus,
.form-input input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-input label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-input label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s /*cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
}

.form-input input:focus + label span,
.form-input input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
